@font-face {
    font-family: text;
    src: url(./media/fonts/Minecraft.ttf);
}

/*Allgemein*/

:root {
    --baseGreen: #589527;
    --baseBackgroundGradient: radial-gradient(circle, #41493D 0%, #30332F 100%);
    --backgroundGradient: radial-gradient(circle, #2B2525 0%, #1A1818 100%);
}

body {
    margin: 0;
    padding: 0;
    background: var(--backgroundGradient);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: text;
    letter-spacing: 1px;
    font-size: 30px;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: text;
    letter-spacing: 1px;
    font-size: 18px;
}

#loginWrapper {
    background-color: var(--baseGreen);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    margin-top: 8%;
}

/*-------
Mainpage
--------*/

/*Header*/
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--baseBackgroundGradient);
}

#logo {
    width: 40%;
}

#nav {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 22% 3%;
    text-align: center;
    align-items: center;
    padding: 1%;
    background-color: var(--baseGreen);
    margin-bottom: 4%;
}

#nav>div>a {
    color: white;
    font-family: text;
    letter-spacing: 1px;
}

#nav>div>a:hover {
    color: black;
}

#user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: solid 2px black;
}

#user>img {
    cursor: pointer;
}

#accountData {
    position: absolute;
    right: 1vw;
    background: var(--baseBackgroundGradient);
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}

/*Content*/

#welcome {
    text-align: center;
    color: white;
    font-family: text;
    letter-spacing: 1px;
}

#boxNav {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#boxNav>a>div {
    background-color: var(--baseGreen);
    border-radius: 10px;
    padding: 13%;
    min-width: 25vw;
    min-height: 5vh;
}

#boxNav>a {
    margin: 8%;
    margin-bottom: 5%;
    margin-top: 5%;
    color: black;
    font-size: 25px;
    font-family: text;
    letter-spacing: 1px;
}

/*Footer*/

#footer {
    background-color: var(--baseGreen);
    text-align: center;
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 0px;
}


/*------------
Login/Register
------------*/

.logRegForm {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    grid-gap: 5px;
    font-family: text;
}

.logRegForm>input {
    padding: 5px;
    border-radius: 5px;
    font-family: text;
    background: var(--baseBackgroundGradient);
    transition: 0.3s;
}

#submitButton {
    background: var(--baseGreen);
    border: solid 2px black;
    color: white;
    font-family: text;
    letter-spacing: 1px;
    cursor: pointer;
}

.logRegForm>input:hover {
    scale: 1.08;
}

#logRegButton {
    font-family: text;
    color: black;
    transition: 0.3s;
}

#logRegButton:hover {
    color: white;
    font-size: 18px;
}

#errorMessage {
    color: red;
    font-family: text;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 5%;
    border: solid 2px black;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    background: var(--baseBackgroundGradient);
    top: -5vh;
}

/*----------------
Block Palettes
----------------*/

#palettes {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.blockPalette {
    width: 160px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.blockPaletteBlocks {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    width: 160px;
}

.blockPaletteImage {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
}